/* setando html */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* nav confi fora da tag body */

.nav {
  background-color:aquamarine;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

  button {
  margin-top: 10px;
  margin-left: 10px;  
  }


    